* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f4f8;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.todo-container {
  background: #fff;
  width: 600px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4b6157
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ccc;
}


.input-group button {
  width: 100%;
  padding: 10px;
  background: #4b6157;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input-group button:hover {
  background: #3e4b3c;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #e0ecf5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
  color: rgb(74, 82, 73);
}

.actions span {
  margin-left: 15px;
  cursor: pointer;
}

.edit {
  color: #255dd5;
}

.delete {
  color: #cc1818;
}
